<?xml version='1.0' encoding='utf-8'?>
<widget id="com.Abutimur.mosque" version="1.0.0" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>Mosque</name>
    <description>
        Mosque App.
    </description>
    <author email="info@mosque.abutimur.com" href="http://mosque.abutimur.com">
        Mosque AbuTimur Team
    </author>
    <content src="index.html" />
    <access origin="*" />
    <allow-intent href="http://*/*" />
    <allow-intent href="https://*/*" />
    <allow-intent href="tel:*" />
    <allow-intent href="sms:*" />
    <allow-intent href="mailto:*" />
    <allow-intent href="geo:*" />
    <allow-intent href="market:*" />
    <platform name="android">
        <preference name="android-minSdkVersion" value="14" />
        <preference name="AndroidPersistentFileLocation" value="Internal" />
        <preference name="AndroidPersistentFileLocation" value="Compatibility" />
        <plugin name="cordova-plugin-inappbrowser" spec="~1.7.0" />
        <plugin name="cordova-plugin-firebase" spec="0.1.20" />
        <plugin name="cordova-plugin-media" spec="~3.0.1" />
        <param name="android-package" value="org.apache.cordova.InAppBrowser" />
        </feature>



  <!-- you can use any density that exists in the Android project -->
    <splash src="res/screen/android/splash-land-hdpi.png" density="land-hdpi"/>
    <splash src="res/screen/android/splash-land-ldpi.png" density="land-ldpi"/>
    <splash src="res/screen/android/splash-land-mdpi.png" density="land-mdpi"/>
    <splash src="res/screen/android/splash-land-xhdpi.png" density="land-xhdpi"/>
 
    <splash src="res/screen/android/splash-port-hdpi.png" density="port-hdpi"/>
    <splash src="res/screen/android/splash-port-ldpi.png" density="port-ldpi"/>
    <splash src="res/screen/android/splash-port-mdpi.png" density="port-mdpi"/>
    <splash src="res/screen/android/splash-port-xhdpi.png" density="port-xhdpi"/>

    </platform>

</widget>
